.home-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
}

.best-pet {
	height: 400px;
	width: auto;
}

.best-pet-btn {
	outline: none;
	border: none;
	margin: 2em;
	padding: 1.5em;
	background: rgb(221, 100, 19);
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 10px;
	transition: 0.1s ease-in;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1.5px;
}

.best-pet-btn:hover {
	cursor: pointer;
	background: rgb(206, 83, 0);
}
