nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgb(221, 100, 19);
	color: white;
}

nav img {
	height: auto;
	width: 50px;
}

.logo {
	display: flex;
}

nav ul {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

nav ul a {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}
